@spartacus:registry=https://73554900100900004337.npmsrv.base.repositories.cloud.sap/
//73554900100900004337.npmsrv.base.repositories.cloud.sap/:_auth=<MDAwMjczOTY0My10b255Qm9ybjoyQW9KZzFXZXE1b2FvQ0FlUGgwbDFqNmIyMDRETTNraw==>
always-auth=trues